// color palette
$main-background: #fafafa;
$main-background-8: rgba(250, 250, 250, 0.6);
$text-color: #03120e;
$button-1: #3e5145;
$button-1-8: rgba(62, 81, 69, 0.6);
$button-2: #471323;
$button-3: #185062;
$button-4: #29654c;
$button-5: #812c0e;
// $button-1: #098C9A;
// $button-2: #785964;
// $button-3: #847979;
// $button-4: #89D1AC;
// $button-5: #EFCB68;

// global styles
html {
    background: $main-background;
    overflow-x: hidden;
}

h1, h2, p, a, nav, ul, li, .caption, button, address { font-family: "Playfair Display", serif; }


.top-heading {
    position: fixed;
    z-index: 2;

    // header
    header {
        border: black solid;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20px;
        width: 100vw;
        margin: -10px -10px 0 -10px;
        padding: 10px;
        background: $text-color;

        p, a {
            color: $main-background;
        }

        p {
            padding: 20px 50px 20px 0;

            a {
                padding: 10px;
                text-decoration: none;

                &:hover { text-decoration: underline; }
            }
        }

    }

    .title {
        display: flex;
        width: 100vw;
        padding: 10px;
        background: transparent;

        img {
            height: 125px;
            padding: 0 25px;
            border-radius: 50%;
        }

        .menu-btn {
            text-decoration: none;
            padding: 20px;
            
            &:hover { cursor: pointer; }
        }

        .openbtn {
            position: absolute;
            top: 30px;
            right: 80px;
            padding: 20px;

            .bar {
                height: 5px;
                width: 35px;
                background: $text-color;
                margin: 5px 0;
            }
        }

        .overlay{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 5;
            top: 0;
            right: 0;
            background-color: $main-background-8;
            transition: 0.4s;


            .overlay-background {
                position: relative;
                height: 100%;
                background-color: $button-1;
                background-color: $button-1-8;
            }

            .closebtn {
                position: relative;
                z-index: 6;
                top: 30px;
                left: 65%;
                font-size: 40px;
            }

            .overlay-content {
                position: absolute;
                top: -20px;
                right: -50px;
                height: 100%;
                width: 40%;
                text-align: center;
                padding-top: 100px;
                background-color: $main-background;

                a {
                    display: block;
                    width: 50%;
                    padding: 15px;
                    margin-left: 20%;
                    font-size: 32px;
                    color: $text-color;
                    text-decoration: none;

                    &:hover, &:focus { 
                        color: $main-background;
                        background: $button-1; 
                    }
                }
            }            
        }
    }
}

// landing page & title
.landing-page {
    height: 100vh;
    margin: 0 -10px;
    background-image: url(/golfCourseSite/images/landing-background/allie-romer-unsplash.jpg);
    background-size: 100vw;
    background-attachment: fixed;

    .quick-links {
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 7.5%;
        bottom: 10%;
        width: 85%;

        a {
            // border: black solid;
            flex-grow: 1;
            position: relative;
            // width: 20%;
            padding: 25px 0;
            text-align: center;
            color: $main-background;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 300ms ease-in-out;

            &:hover { 
                flex-grow: 2; 
                font-weight: 800; 
            }

            $borderWidth: 4px;

            &::before {
                content: "";
                position: absolute;
                border: solid $main-background $borderWidth;
                top: $borderWidth;
                left: $borderWidth;
                right: $borderWidth;
                bottom: $borderWidth;
                opacity: 0;
                transition-duration: 0.2s;
                transition-property: opacity;
            }

            &:hover::before { opacity: 1; }
        }

        .quick-book { background: $button-1; ; }
        .quick-rates { background: $button-2; }
        .quick-course { background: $button-3; }
        .quick-events { background: $button-4; }
        .quick-contact { background: $button-5; }
    }
}

.updates {
    width: 70%;
    margin: 100px auto;

    h2 {
        margin-bottom: 50px;
    }

    .updates-flex {
        width: fit-content;
        margin: auto;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        p { 
            line-height: 0.5;
        }

        li { 
            padding: 0 0 10px 0;
            list-style: none; 
            
            &::before {
                content: "\2192";
                padding-right: 10px;
            }
        }
        
    }
}

.course {

    // slideshow container
    .slideshow-container {
        max-width: 1500px;
        position: relative;
        margin: auto;

        // hide the images by default
        .slides {
            display: none;

            // number text
            .numberText {
                color: $main-background;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            // image 
            img { max-width: 1500px; }

            // caption text
            .caption {
                color: $main-background;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }
        }

        // next and previous buttons
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: $main-background;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;

            // on hover, add a slightly transparent background color
            &:hover { background-color: $button-1-8; }
        }

        // position next button to the right 
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    }

    // dots/indicators
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: $main-background;
        border: solid $text-color;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: $text-color;
    }

    // fading animation
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: 0.4}
        to {opacity: 1}
    }
}