html {
  background: #fafafa;
  overflow-x: hidden; }

h1, h2, p, a, nav, ul, li, .caption, button, address, label, input {
  font-family: "Playfair Display", serif; }

h2 {
  font-size: 2em; }

.top-heading {
  position: fixed;
  z-index: 2; }
  .top-heading header {
    border: black solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    width: 100vw;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    background: #03120e; }
    .top-heading header p, .top-heading header a {
      color: #fafafa; }
    .top-heading header p {
      padding: 20px 50px 20px 0; }
      .top-heading header p a {
        padding: 10px;
        text-decoration: none; }
        .top-heading header p a:hover {
          text-decoration: underline; }
      .top-heading header p img {
        width: 18px;
        margin-top: 10px;
        padding: 0; }
    .top-heading header #join-btn {
      cursor: pointer; }
    .top-heading header #join-modal {
      display: none;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(62, 81, 69, 0.6); }
      .top-heading header #join-modal .modal-content {
        width: 70%;
        padding: 20px;
        margin: 10% auto;
        border: 1px solid #03120e;
        background-color: #fafafa; }
        .top-heading header #join-modal .modal-content p {
          width: fit-content;
          padding: 10px 0;
          margin: auto;
          color: #03120e;
          font-size: 1.5em;
          text-align: center;
          line-height: 1.25; }
        .top-heading header #join-modal .modal-content #dont-miss-out {
          margin-bottom: 30px; }
        .top-heading header #join-modal .modal-content form {
          display: flex;
          flex-direction: column;
          width: 40%;
          margin: auto; }
          .top-heading header #join-modal .modal-content form label {
            padding: 15px 0 0 0; }
          .top-heading header #join-modal .modal-content form input {
            padding: 5px; }
          .top-heading header #join-modal .modal-content form input[type="submit"] {
            margin-top: 25px;
            font-size: 1.2em;
            border-radius: 5px;
            border: 2px solid #3e5145;
            color: #fafafa;
            background-color: #3e5145; }
            .top-heading header #join-modal .modal-content form input[type="submit"]:hover, .top-heading header #join-modal .modal-content form input[type="submit"]:focus, .top-heading header #join-modal .modal-content form input[type="submit"]:active {
              cursor: pointer;
              color: #3e5145;
              background-color: #fafafa; }
        .top-heading header #join-modal .modal-content #required {
          padding: 0;
          margin-top: 5px;
          margin-bottom: 20px;
          width: 40%;
          text-align: left;
          font-size: 10px; }
        .top-heading header #join-modal .modal-content #close-modal {
          float: right;
          color: #03120e;
          font-size: 28px;
          font-weight: bold; }
          .top-heading header #join-modal .modal-content #close-modal:hover {
            text-decoration: none;
            cursor: pointer; }
  .top-heading .title {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: -10px;
    padding: 10px;
    background-color: transparent;
    transition: 0.6s ease; }
    @media only screen and (max-width: 1300px) {
      .top-heading .title {
        flex-direction: column; } }
    .top-heading .title #logo {
      transition: 0.4s ease; }
    .top-heading .title img {
      height: 125px;
      padding: 0 25px;
      border-radius: 50%; }
      @media only screen and (max-width: 1300px) {
        .top-heading .title img {
          padding: 10px 0 0 0; } }
    .top-heading .title h1 {
      font-size: 3.5em;
      text-transform: uppercase;
      letter-spacing: 15px;
      transition: 0.4s ease; }
    .top-heading .title .menu-btn {
      text-decoration: none;
      padding: 20px; }
      .top-heading .title .menu-btn:hover {
        cursor: pointer; }
    .top-heading .title .openbtn {
      position: absolute;
      top: 30px;
      right: 80px;
      padding: 20px; }
      .top-heading .title .openbtn .bar {
        height: 5px;
        width: 35px;
        background: #03120e;
        margin: 5px 0; }
    .top-heading .title .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 5;
      top: 0;
      right: 0;
      background-color: rgba(250, 250, 250, 0.6);
      transition: 0.4s; }
      .top-heading .title .overlay .overlay-background {
        position: relative;
        height: 100%;
        background-color: #3e5145;
        background-color: rgba(62, 81, 69, 0.6); }
      .top-heading .title .overlay .closebtn {
        position: relative;
        z-index: 6;
        top: 30px;
        left: 65%;
        font-size: 40px;
        color: #03120e; }
      .top-heading .title .overlay .overlay-content {
        position: absolute;
        top: -20px;
        right: -50px;
        height: 100%;
        width: 40%;
        text-align: center;
        padding-top: 100px;
        background-color: #fafafa; }
        .top-heading .title .overlay .overlay-content a {
          display: block;
          width: 50%;
          padding: 15px;
          margin-left: 20%;
          font-size: 32px;
          color: #03120e;
          text-decoration: none; }
          .top-heading .title .overlay .overlay-content a:hover, .top-heading .title .overlay .overlay-content a:focus {
            color: #fafafa;
            background: #3e5145; }

.landing-page {
  height: 100vh;
  margin: 0 -10px;
  background-image: url(/images/landing-background/allie-romer-unsplash.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .landing-page .quick-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 7.5%;
    bottom: 10%;
    width: 85%; }
    .landing-page .quick-links a {
      flex-grow: 1;
      position: relative;
      padding: 25px 0;
      text-align: center;
      color: #fafafa;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 300ms ease-in-out; }
      .landing-page .quick-links a:hover {
        flex-grow: 2;
        font-weight: 800; }
      .landing-page .quick-links a::before {
        content: "";
        position: absolute;
        border: solid #fafafa 4px;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        opacity: 0;
        transition-duration: 0.2s;
        transition-property: opacity; }
      .landing-page .quick-links a:hover::before {
        opacity: 1; }
    .landing-page .quick-links .quick-book {
      background: #3e5145; }
    .landing-page .quick-links .quick-rates {
      background: #471323; }
    .landing-page .quick-links .quick-course {
      background: #185062; }
    .landing-page .quick-links .quick-events {
      background: #29654c; }
    .landing-page .quick-links .quick-contact {
      background: #812c0e; }

.updates {
  width: 70%;
  margin: 100px auto; }
  .updates h2 {
    margin-bottom: 50px; }
  .updates .updates-flex {
    width: fit-content;
    margin: auto; }
    .updates .updates-flex p {
      line-height: 0.5; }
    .updates .updates-flex li {
      padding: 0 0 10px 0;
      list-style: none; }
      .updates .updates-flex li::before {
        content: "\2192";
        padding-right: 10px; }

.course {
  display: flex;
  flex-direction: row;
  margin: 200px auto;
  align-items: center; }
  @media only screen and (max-width: 1000px) {
    .course {
      flex-direction: column-reverse; } }
  .course .slideshow-container {
    width: 70%;
    max-width: 1500px;
    position: relative;
    margin-left: 5%; }
    @media only screen and (max-width: 1000px) {
      .course .slideshow-container {
        width: 85%;
        margin: auto; } }
    .course .slideshow-container .slides {
      display: none; }
      .course .slideshow-container .slides img {
        width: 100%;
        max-width: 1500px; }
      .course .slideshow-container .slides .caption {
        position: absolute;
        right: 0;
        bottom: 30px;
        width: fit-content;
        padding: 8px 12px;
        text-align: center;
        font-size: 15px;
        color: #fafafa;
        background-color: rgba(62, 81, 69, 0.6); }
    .course .slideshow-container .prev, .course .slideshow-container .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -22px;
      padding: 16px;
      color: #fafafa;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
      .course .slideshow-container .prev:hover, .course .slideshow-container .next:hover {
        background-color: rgba(62, 81, 69, 0.6); }
    .course .slideshow-container .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .course .slideshow-container .dot-container {
      margin: auto;
      margin-top: -4px;
      padding: 3px 0;
      text-align: center;
      background-color: rgba(62, 81, 69, 0.6); }
    .course .slideshow-container .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: rgba(62, 81, 69, 0.6);
      border: 2px solid #03120e;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    .course .slideshow-container .active, .course .slideshow-container .dot:hover {
      background-color: #03120e; }
    .course .slideshow-container .fade {
      animation-name: fade;
      animation-duration: 1.2s; }
@keyframes fade {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
  .course .course-info-box {
    height: fit-content;
    width: 20%;
    margin: auto 10px;
    padding: 0 20px; }
    @media only screen and (max-width: 1000px) {
      .course .course-info-box {
        width: 80%; } }
    .course .course-info-box h2 {
      padding-bottom: 20px; }
    .course .course-info-box p {
      padding-bottom: 50px;
      text-align: justify;
      line-height: 1.5; }
    .course .course-info-box #stats {
      font-weight: 600;
      text-align: center; }
    .course .course-info-box button {
      display: block;
      margin: 40px auto;
      padding: 10px 15px;
      border: 5px solid transparent;
      border-radius: 5px;
      font-size: 1.25em;
      color: #fafafa;
      background-color: #3e5145;
      transition: .2s ease; }
      .course .course-info-box button:hover, .course .course-info-box button:focus, .course .course-info-box button:active {
        cursor: pointer;
        color: #3e5145;
        background-color: #fafafa;
        border: 5px solid #3e5145;
        border-radius: 5px; }

#weather {
  display: block;
  width: 80%;
  margin: 100px auto 200px auto;
  box-shadow: 3px 3px 5px #03120e; }

footer {
  position: relative;
  width: 90%;
  margin: 300px auto 10px auto;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #3e5145; }
  footer address {
    line-height: 1.5;
    font-size: 1em;
    font-style: normal; }
    footer address a {
      color: #03120e;
      text-decoration: none; }
  footer img {
    width: 30px;
    padding: 15px 15px 0 15px; }

/*# sourceMappingURL=style.css.map */
