html {
  background: #fafafa;
  overflow-x: hidden; }

h1, h2, p, a, nav, ul, li, .caption, button, address {
  font-family: "Playfair Display", serif; }

.top-heading {
  position: fixed;
  z-index: 2; }
  .top-heading header {
    border: black solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    width: 100vw;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    background: #03120e; }
    .top-heading header p, .top-heading header a {
      color: #fafafa; }
    .top-heading header p {
      padding: 20px 50px 20px 0; }
      .top-heading header p a {
        padding: 10px;
        text-decoration: none; }
        .top-heading header p a:hover {
          text-decoration: underline; }
  .top-heading .title {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: -10px;
    padding: 10px;
    background-color: transparent;
    transition: 0.6s ease; }
    .top-heading .title #logo {
      transition: 0.4s ease; }
    .top-heading .title img {
      height: 125px;
      padding: 0 25px;
      border-radius: 50%; }
    .top-heading .title h1 {
      font-size: 3.5em;
      text-transform: uppercase;
      letter-spacing: 15px;
      transition: 0.4s ease; }
    .top-heading .title .menu-btn {
      text-decoration: none;
      padding: 20px; }
      .top-heading .title .menu-btn:hover {
        cursor: pointer; }
    .top-heading .title .openbtn {
      position: absolute;
      top: 30px;
      right: 80px;
      padding: 20px; }
      .top-heading .title .openbtn .bar {
        height: 5px;
        width: 35px;
        background: #03120e;
        margin: 5px 0; }
    .top-heading .title .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 5;
      top: 0;
      right: 0;
      background-color: rgba(250, 250, 250, 0.6);
      transition: 0.4s; }
      .top-heading .title .overlay .overlay-background {
        position: relative;
        height: 100%;
        background-color: #3e5145;
        background-color: rgba(62, 81, 69, 0.6); }
      .top-heading .title .overlay .closebtn {
        position: relative;
        z-index: 6;
        top: 30px;
        left: 65%;
        font-size: 40px;
        color: #03120e; }
      .top-heading .title .overlay .overlay-content {
        position: absolute;
        top: -20px;
        right: -50px;
        height: 100%;
        width: 40%;
        text-align: center;
        padding-top: 100px;
        background-color: #fafafa; }
        .top-heading .title .overlay .overlay-content a {
          display: block;
          width: 50%;
          padding: 15px;
          margin-left: 20%;
          font-size: 32px;
          color: #03120e;
          text-decoration: none; }
          .top-heading .title .overlay .overlay-content a:hover, .top-heading .title .overlay .overlay-content a:focus {
            color: #fafafa;
            background: #3e5145; }

.landing-page {
  height: 100vh;
  margin: 0 -10px;
  background-image: url(/golfCourseSite/images/landing-background/allie-romer-unsplash.jpg);
  background-size: 100vw;
  background-attachment: fixed; }
  .landing-page .quick-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 7.5%;
    bottom: 10%;
    width: 85%; }
    .landing-page .quick-links a {
      flex-grow: 1;
      position: relative;
      padding: 25px 0;
      text-align: center;
      color: #fafafa;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 300ms ease-in-out; }
      .landing-page .quick-links a:hover {
        flex-grow: 2;
        font-weight: 800; }
      .landing-page .quick-links a::before {
        content: "";
        position: absolute;
        border: solid #fafafa 4px;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        opacity: 0;
        transition-duration: 0.2s;
        transition-property: opacity; }
      .landing-page .quick-links a:hover::before {
        opacity: 1; }
    .landing-page .quick-links .quick-book {
      background: #3e5145; }
    .landing-page .quick-links .quick-rates {
      background: #471323; }
    .landing-page .quick-links .quick-course {
      background: #185062; }
    .landing-page .quick-links .quick-events {
      background: #29654c; }
    .landing-page .quick-links .quick-contact {
      background: #812c0e; }

.updates {
  width: 70%;
  margin: 100px auto; }
  .updates h2 {
    margin-bottom: 50px; }
  .updates .updates-flex {
    width: fit-content;
    margin: auto; }
    .updates .updates-flex p {
      line-height: 0.5; }
    .updates .updates-flex li {
      padding: 0 0 10px 0;
      list-style: none; }
      .updates .updates-flex li::before {
        content: "\2192";
        padding-right: 10px; }

.course .slideshow-container {
  width: 70%;
  max-width: 1500px;
  position: relative;
  margin-left: 5%; }
  .course .slideshow-container .slides {
    display: none; }
    .course .slideshow-container .slides .numberText {
      display: none;
      color: #fafafa;
      font-size: 12px;
      padding: 5px 12px;
      position: absolute;
      right: 0;
      bottom: 25px;
      background-color: rgba(62, 81, 69, 0.6); }
    .course .slideshow-container .slides img {
      width: 100%;
      max-width: 1500px; }
    .course .slideshow-container .slides .caption {
      position: absolute;
      right: 0;
      bottom: 30px;
      width: fit-content;
      padding: 8px 12px;
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      color: #fafafa;
      background-color: rgba(62, 81, 69, 0.6); }
  .course .slideshow-container .prev, .course .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
    .course .slideshow-container .prev:hover, .course .slideshow-container .next:hover {
      background-color: rgba(62, 81, 69, 0.6); }
  .course .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
.course .dot-container {
  margin: auto;
  margin-top: -4px;
  padding: 3px 0;
  text-align: center;
  background-color: rgba(62, 81, 69, 0.6); }
.course .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(62, 81, 69, 0.6);
  border: 2px solid #03120e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
.course .active, .course .dot:hover {
  background-color: #03120e; }
.course .fade {
  animation-name: fade;
  animation-duration: 1.5s; }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
